<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Accessory</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>
<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/images/logo.png"></li>
                <li><a href="/">Browse</a></li>
                <li><a href="/about">About</a></li>
                {{#if loggedIn}}
                <li><a href="/create">Add a Cube</a></li>
                <li><a href="/create/accessory">Add Accessory</a></li>
                <li><a href="/">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </header>
        <main>
            {{#with cubeDetails}}
            <h1>{{name}}</h1>
            <img class="cube" src="{{imageUrl}}">
            <div class="details">
                <p><span>Description:</span>{{description}}</p>
                <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
                <a class="btn" href="/">Back</a>
                {{/with}}
                {{#if authorized}}
                {{#with cubeDetails}}
                <a class="btn" href="/attachAccessory/{{_id}}">Attach Item</a>
                <a class="btn" href="/editCube/{{_id}}">Edit Cube</a>
                <a class="btn" href="/deleteCube/{{_id}}">Delete Cube</a>
                {{/with}}
                {{/if}}
            </div>
            {{#if accessory}}
            {{#with cubeDetails}}
            <h2>Accessories</h2>
            <div class="accessories">
                <div class="accessory">
                    {{#each accessory}}
                    <img src="{{imageUrl}}" alt="stickerName">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                    {{/each}}  
                </div>
            {{/with}}  
            {{/if}}
                {{#unless accessory}}
                <h3 class="italic">This cube has no accessories yet...</h3>
                {{/unless}}
            
            </div>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>
</html>